/*************************************************************************************************************

Author: Benjamin Dorr
Date: 3/30/2020
Updates:
	3/30/2020: Changed the layout of all pages and added css that allows for a vertical navigation bar.
			Also I am working on changing the layout of all the content div for all the main pages.
	3/31/2020: Changed and deleted the css that is used for controlling the content section
	 		of all webpages.
******************************************************************************************************** */


body
{
	background-color: rgba(100,175,100,1);
}
/********************************
This section is for
changing how normal links work
*******************************/
a:link
{
  color: white;
  
}
/* visited link */
a:visited
{
  color: white;
  text-decoration: none;
}

/* mouse over link */
a:hover
{
  color: white;
}

/* selected link */
a:active
{
  color: white;
}
/****************************
Vertical navigation bar
****************************/
#header
{
	position:fixed;
	top:-1%;
	left:3%;
	background-color: rgba(50,50,50,1);
	min-width: 200px;
	height: 101% ;
	margin:auto;
	color: white;
}

.vertical-menu
{
	poistion:relative;
	top:20%;
	font-size: 200%;

}
.vertical-menu a
{
	background-color: rgba(50,50,50,1);
	color: white;
	display: block;
	padding: 12px;
	text-decoration: none;
}

.vertical-menu a:hover
{
	background-color: rgba(100,100,100,1);
}

.vertical-menu a.active
{
	background-color: rgba(10,100,50,1);
	color: white;
}
